# Create mysql database with kubernetes

In this notebook we create a mysql database on a k8s cluster.

## TODO
- config mapping
- persistent storage

## ACG Cluster

As part of a k8s course a cluster was built using ACG servers. The manifest files below have been tested on this setup and it all work well.

The following approach was taken:
- create a deployment with 1 mysql container that runs a database.
- create a NodePort service with external connection on port 30081. I tried port 30036 but that did not work.

In [2]:
%%writefile ./manifest/mysql_deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: root_password
        - name: MYSQL_USER
          value: user
        - name: MYSQL_PASSWORD
          value: user_password
        - name: MYSQL_DATABASE
          value: my_db

Writing ./manifest/mysql_deployment.yaml

`k apply -f mysql_deployment.yaml` 

creates the deployment.

`k logs <pod id>` 

can be used to see if the pod is up and running.

`k exec -it <pod id> -- bash`

once logged in:

`mysql -u root -p`

than enter the root pw and you are in.

`SHOW DATABASES;`

to see the databases also `my_db`.

In [6]:
%%writefile ./manifest/mysql-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  type: NodePort  # Use NodePort if you're running on Minikube
  selector:
    app: mysql
  ports:
    - port: 3306        # host port
      targetPort: 3306  # Container port
      nodePort: 30081   # kubernetes nodeport external access

Overwriting ./manifest/mysql-service.yaml

`k apply -f mysql-service.yaml`

To test connectivity the phpmyadmin GUI is launched

In [4]:
%%writefile ./manifest/phpmyadmin-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
      - name: phpmyadmin
        image: phpmyadmin/phpmyadmin:latest
        ports:
        - containerPort: 80
        env:
        - name: PMA_HOST
          value: "mysql"  # Points to the MySQL service
        - name: MYSQL_ROOT_PASSWORD
          value: "root_password"

Writing ./manifest/phpmyadmin-deployment.yaml

In [5]:
%%writefile ./manifest/phpmyadmin-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin
spec:
  type: NodePort  # Use NodePort if you're running on Minikube
  selector:
    app: phpmyadmin
  ports:
    - port: 80        # Exposed port
      targetPort: 80  # Exposed port on container
      nodePort: 30080 # Exposed port on the control plane node (or node that the container runs on)

Writing ./manifest/phpmyadmin-service.yaml

These can be deployed with the normal commands. 

**TIP** - if you store all three files in a directory called `manifest` you can launch all for with just one command

`k apply -f manifest`

## Connection outside the cluster

### Connection to GUI

`http://<Public IP control plan>:<nodePort>`

I was able to see the GUI. 

set user to `root` and password to `root_password` to login the database

### Connection python

This is a direct connection to the mysql database which has external port 30081.

In [9]:
from sqlalchemy import create_engine, text, inspect

# Replace the placeholders with your configuration
db_user = "root"
db_password = "root_password"
db_host = "3.14.246.14"
db_port = "30081"
db_name = "my_db"

# connection string for mysql
url = f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
print(url)

# Create an SQLAlchemy engine
engine = create_engine(url,pool_pre_ping=True)

mysql+pymysql://root:root_password@3.14.246.14:30081/my_db

In [10]:
inspector = inspect(engine)
print(inspector.get_schema_names())
print(inspector.get_table_names())

['information_schema', 'my_db', 'mysql', 'performance_schema', 'sys']
[]

In [11]:
stmt = text(
"""
CREATE TABLE IF NOT EXISTS sport(
    id serial PRIMARY KEY,
    name TEXT NOT NULL,
    mascot_name TEXT
);

""")

with engine.connect() as con:
    con.execute(stmt)

inspector = inspect(engine)
inspector.get_table_names()

['sport']

In [12]:
stmt = text(
"""
INSERT INTO sport(name, mascot_name)
    VALUES ('volleyball', 'Duck'),
    ('hockey', 'Cow');
""")

with engine.connect() as con:
    with con.begin():
        con.execute(stmt)

In [14]:
import pandas as pd
stmt = text("SELECT * FROM sport")
pd.read_sql(stmt, engine)

   id    name mascot_name
0   2  hockey         Cow

bring all services down with

`kubectl delete --all all`

## Initialize the DB with a config map

We only need to change 2 files if we want to create a table and some data init when we initialize the database.

In [26]:
%%writefile ./manifest-cm/db_configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-script
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS my_db;
    USE my_db;
    CREATE TABLE IF NOT EXISTS person (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        age INT NOT NULL
    );
    INSERT INTO person(name, age)
    VALUES ('Casper', '17'),
    ('Daan', '19'),
    ('Sacha','54'),
    ('Marjet';'50')

Writing ./manifest-cm/db_configmap.yaml

In [25]:
%%writefile ./manifest-cm/mysql_deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: root_password
        - name: MYSQL_USER
          value: user
        - name: MYSQL_PASSWORD
          value: user_password
        - name: MYSQL_DATABASE
          value: my_db
        volumeMounts:
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d/init.sql
          subPath: init.sql
      volumes:
      - name: init-script
        configMap:
          name: db-init-script

Writing ./manifest-cm/mysql_deployment.yaml

### Explanation:

1. **ConfigMap:**
   - Contains the `init.sql` script.
   - Key (`init.sql`) is treated as a file when mounted.

2. **Volume Mount:**
   - Mounts the ConfigMap as a file at `/docker-entrypoint-initdb.d/init.sql`.
   - `subPath: init.sql` ensures that only the `init.sql` file is mounted.

3. **MySQL Initialization:**
   - MySQL automatically executes any scripts placed in `/docker-entrypoint-initdb.d/` during startup.

---

### Key Benefits:
- **No Dependency on Node Files:** The script is managed directly in Kubernetes, making it portable and consistent across environments.
- **Easy Updates:** Updating the script involves modifying the ConfigMap and redeploying the Pod.
- **Centralized Management:** Configurations are managed as Kubernetes resources, simplifying version control and deployment processes.

Bring the services up with

`kubectl apply -f manifest-cm`

In [21]:
from sqlalchemy import create_engine, text, inspect

# Replace the placeholders with your configuration
db_user = "root"
db_password = "root_password"
db_host = "3.14.246.14"
db_port = "30081"
db_name = "my_db"

# connection string for mysql
url = f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
print(url)

# Create an SQLAlchemy engine
engine = create_engine(url,pool_pre_ping=True)

mysql+pymysql://root:root_password@3.14.246.14:30081/my_db

In [22]:
inspector = inspect(engine)
print(inspector.get_schema_names())
print(inspector.get_table_names())

['information_schema', 'my_db', 'mysql', 'performance_schema', 'sys']
['person']

In [23]:
import pandas as pd
stmt = text("SELECT * FROM person")
pd.read_sql(stmt, engine)

   id    name  age
0   1  Casper   17
1   2    Daan   19
2   3   Sacha   54