# MySQL with docker and docker compose

This notebook contains clear instructions on how to create a mysql container, how to connect to a GUI to easily look inside the database and how to connect to it with Python.

#### references:
- https://www.codeproject.com/Tips/5336563/Run-Database-and-GUI-Clients-in-Docker

## Chapter 1 - docker

In [2]:
!docker pull mysql:latest

latest: Pulling from library/mysql
Digest: sha256:2be51594eba5983f47e67ff5cb87d666a223e309c6c64450f30b5c59a788ea40
Status: Image is up to date for mysql:latest
docker.io/library/mysql:latest

What's Next?
  View a summary of image vulnerabilities and recommendations → docker scout quickview mysql:latest

In [3]:
# list the images with name mysql
!docker images mysql

REPOSITORY   TAG       IMAGE ID       CREATED         SIZE
mysql        latest    10db11fef9ce   5 weeks ago     602MB
mysql        8.0       9f4b39935f20   5 weeks ago     590MB
mysql        5.7       2be84dd575ee   17 months ago   569MB

run the container in detached mode `-d` and provide the password as an environment variable `-e`. The enviroment variable will be created and is available in the container. So if you exec into the container you can check the value with `echo $MYSQL_ROOT_PASSWORD`. Note the `--rm` flag. This means the container will be removed once it is stopped.

In [4]:
!docker run --rm --name test-mysql -e MYSQL_ROOT_PASSWORD=strong_password -e MYSQL_DATABASE=quotes -d mysql

ea4a349dda5defdbafa163e6903b31c3fa6b0f64be6874d395d0f6de3b8f9bd3

In [8]:
!docker ps -a

CONTAINER ID   IMAGE     COMMAND                  CREATED          STATUS          PORTS                 NAMES
ea4a349dda5d   mysql     "docker-entrypoint.s…"   55 seconds ago   Up 53 seconds   3306/tcp, 33060/tcp   test-mysql

execute the `ls` command from within the running mysql container. Notice the `docker-entrypoint-initdb.b` folder. This will be used later on to initialize a database inside the container when it is created for the first time.

In [9]:
!docker exec test-mysql ls -l | grep docker

drwxr-xr-x   2 root root 4096 Nov  6 20:48 docker-entrypoint-initdb.d

Open the bash terminal with 

`$ docker exec -it test-mysql bash`

then execute 

`$ echo $MYSQL_ROOT_PASSWORD`

use the password to connect to sql as root

```
$ mysql -u root -p
Enter password: ...
mysql>```

type `SHOW schemas;` to see if the database `quotes` was created.

then `USE quotes;` to use the quoates database.

then `SHOW tables;` which should return an empty set since no tables have been created yet.

In [10]:
!docker rm -f test-mysql

test-mysql

### docker compose

Ok .. now that this works let's create a more sophisticated container using docker compose.

The helper function below is used to have less verbose output in this notebook.

In [11]:
import subprocess

def run_command(command):
    """
    Run a shell command and return its output and error as strings.

    Args:
        command (list): The command to run as a list of strings, e.g., ["docker", "compose", "up", "-d"].

    Returns:
        tuple: A tuple containing (output, error, return_code).
            - output (str): The standard output of the command.
            - error (str): The standard error of the command.
            - return_code (int): The return code of the command.
    """
    try:
        result = subprocess.run(
            command,
            shell=True,          
            capture_output=True,
            text=True,            # Decode output as strings
            check=False           # Don't raise exceptions for non-zero exit codes
        )
        return result.stdout, result.stderr, result.returncode
    except Exception as e:
        return "", str(e), -1

#### Version 1 - basic mysql container

The below creates a service that is similar to what was created with `docker run` above. It also creates a user that will be used to connect to with Python.

In [131]:
%%writefile docker-compose-files/docker-compose.yaml

services:
  mysql:
    image: mysql:latest # replae latest by specific version
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=quotes
      - MYSQL_ROOT_PASSWORD=strong_password
      - MYSQL_USER=appel
      - MYSQL_PASSWORD=appel
    ports:
      - 3306:3306

Overwriting docker-compose-files/docker-compose.yaml

In [9]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml up -d")
print(out)
print(err)

 Network docker-compose-files_default  Creating
 Network docker-compose-files_default  Created
 Container mysql  Creating
 Container mysql  Created
 Container mysql  Starting
 Container mysql  Started

In [12]:
!docker ps

CONTAINER ID   IMAGE          COMMAND                  CREATED          STATUS          PORTS                               NAMES
14859da9ed15   mysql:latest   "docker-entrypoint.s…"   30 seconds ago   Up 29 seconds   0.0.0.0:3306->3306/tcp, 33060/tcp   mysql

you might need to wait until the container (database) is ready for connections. For this you can check the logs.

In [17]:
!docker logs mysql

2024-11-20 14:16:34+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 9.1.0-1.el9 started.
2024-11-20 14:16:34+00:00 [Note] [Entrypoint]: Switching to dedicated user 'mysql'
2024-11-20 14:16:34+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 9.1.0-1.el9 started.
2024-11-20 14:16:35+00:00 [Note] [Entrypoint]: Initializing database files
2024-11-20T14:16:35.143894Z 0 [System] [MY-015017] [Server] MySQL Server Initialization - start.
2024-11-20T14:16:35.145164Z 0 [System] [MY-013169] [Server] /usr/sbin/mysqld (mysqld 9.1.0) initializing of server in progress as process 80
2024-11-20T14:16:35.153310Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T14:16:35.533452Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T14:16:38.051763Z 6 [Warning] [MY-010453] [Server] root@localhost is created with an empty password ! Please consider switching off the --initialize-insecure option.
2024-11-20T14:16:40.465116Z 0 [System] [MY-015018] [Server] MySQL Server Initialization - end.
2024-11-20 14:16:40+00:00 [Note] [Entrypoint]: Database files initialized
2024-11-20 14:16:40+00:00 [Note] [Entrypoint]: Starting temporary server
2024-11-20T14:16:40.579669Z 0 [System] [MY-015015] [Server] MySQL Server - start.
2024-11-20T14:16:40.816486Z 0 [System] [MY-010116] [Server] /usr/sbin/mysqld (mysqld 9.1.0) starting as process 123
2024-11-20T14:16:40.832937Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T14:16:41.237436Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T14:16:41.652031Z 0 [Warning] [MY-010068] [Server] CA certificate ca.pem is self signed.
2024-11-20T14:16:41.652097Z 0 [System] [MY-013602] [Server] Channel mysql_main configured to support TLS. Encrypted connections are now supported for this channel.
2024-11-20T14:16:41.659827Z 0 [Warning] [MY-011810] [Server] Insecure configuration for --pid-file: Location '/var/run/mysqld' in the path is accessible to all OS users. Consider choosing a different directory.
2024-11-20T14:16:41.703024Z 0 [System] [MY-011323] [Server] X Plugin ready for connections. Socket: /var/run/mysqld/mysqlx.sock
2024-11-20T14:16:41.703334Z 0 [System] [MY-010931] [Server] /usr/sbin/mysqld: ready for connections. Version: '9.1.0'  socket: '/var/run/mysqld/mysqld.sock'  port: 0  MySQL Community Server - GPL.
2024-11-20 14:16:41+00:00 [Note] [Entrypoint]: Temporary server started.
'/var/lib/mysql/mysql.sock' -> '/var/run/mysqld/mysqld.sock'
Warning: Unable to load '/usr/share/zoneinfo/iso3166.tab' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/leap-seconds.list' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/leapseconds' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/tzdata.zi' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/zone.tab' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/zone1970.tab' as time zone. Skipping it.
2024-11-20 14:16:46+00:00 [Note] [Entrypoint]: Creating database quotes
2024-11-20 14:16:46+00:00 [Note] [Entrypoint]: Creating user appel
2024-11-20 14:16:46+00:00 [Note] [Entrypoint]: Giving user appel access to schema quotes

2024-11-20 14:16:46+00:00 [Note] [Entrypoint]: Stopping temporary server
2024-11-20T14:16:46.270475Z 13 [System] [MY-013172] [Server] Received SHUTDOWN from user root. Shutting down mysqld (Version: 9.1.0).
2024-11-20T14:16:47.027683Z 0 [System] [MY-010910] [Server] /usr/sbin/mysqld: Shutdown complete (mysqld 9.1.0)  MySQL Community Server - GPL.
2024-11-20T14:16:47.027807Z 0 [System] [MY-015016] [Server] MySQL Server - end.
2024-11-20 14:16:47+00:00 [Note] [Entrypoint]: Temporary server stopped

2024-11-20 14:16:47+00:00 [Note] [Entrypoint]: MySQL init process done. Ready for start up.

2024-11-20T14:16:47.293035Z 0 [System] [MY-015015] [Server] MySQL Server - start.
2024-11-20T14:16:47.512543Z 0 [System] [MY-010116] [Server] /usr/sbin/mysqld (mysqld 9.1.0) starting as process 1
2024-11-20T14:16:47.522360Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T14:16:47.894298Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T14:16:48.287286Z 0 [Warning] [MY-010068] [Server] CA certificate ca.pem is self signed.
2024-11-20T14:16:48.287356Z 0 [System] [MY-013602] [Server] Channel mysql_main configured to support TLS. Encrypted connections are now supported for this channel.
2024-11-20T14:16:48.292734Z 0 [Warning] [MY-011810] [Server] Insecure configuration for --pid-file: Location '/var/run/mysqld' in the path is accessible to all OS users. Consider choosing a different directory.
2024-11-20T14:16:48.324093Z 0 [System] [MY-010931] [Server] /usr/sbin/mysqld: ready for connections. Version: '9.1.0'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  MySQL Community Server - GPL.
2024-11-20T14:16:48.324086Z 0 [System] [MY-011323] [Server] X Plugin ready for connections. Bind-address: '::' port: 33060, socket: /var/run/mysqld/mysqlx.sock

In [18]:
from sqlalchemy import create_engine, inspect

username = "appel"
password = "appel"
endpoint = "localhost"

url = f'mysql+pymysql://{username}:{password}@{endpoint}:3306/quotes'

engine = create_engine(url)

In [19]:
engine = create_engine(url, echo=False)
inspector = inspect(engine)
print(inspector.get_table_names())
print(inspector.get_schema_names())

[]
['information_schema', 'performance_schema', 'quotes']

The container is up and running and the connection with python was created.

In [47]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml down --remove-orphans")
print(out)
print(err)

 Container phpmyadmin  Stopping
 Container phpmyadmin  Stopped
 Container phpmyadmin  Removing
 Container phpmyadmin  Removed
 Container mysql_db  Stopping
 Container mysql_db  Stopped
 Container mysql_db  Removing
 Container mysql_db  Removed
 Network docker-compose-files_default  Removing
 Network docker-compose-files_default  Removed

#### Version 2 - the GUI

Main change compared to the previous section is that a volume for persistent data is created and a GUI is added `phpmyadmin`. The GUI can be used to look around in the database.

In [5]:
%%writefile docker-compose-files/docker-compose.yaml
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - 80:80
    depends_on:
      - mysql
    environment:
      - PMA_ARBITRARY=1

volumes:
  db_data:

Overwriting docker-compose-files/docker-compose.yaml

In [6]:
(out, err, code) = run_command("docker-compose -f docker-compose-files/docker-compose.yaml up -d")
print(out)
print(err)

 Network docker-compose-files_default  Creating
 Network docker-compose-files_default  Created
 Container mysql_db  Creating
 Container mysql_db  Created
 Container phpmyadmin  Creating
 Container phpmyadmin  Created
 Container mysql_db  Starting
 Container mysql_db  Started
 Container phpmyadmin  Starting
 Container phpmyadmin  Started

In [7]:
!docker ps

CONTAINER ID   IMAGE               COMMAND                  CREATED        STATUS                  PORTS                               NAMES
99bb26ab8cdd   phpmyadmin:latest   "/docker-entrypoint.…"   1 second ago   Up Less than a second   0.0.0.0:80->80/tcp                  phpmyadmin
4679b15af233   mysql:8.0           "docker-entrypoint.s…"   1 second ago   Up 1 second             0.0.0.0:3306->3306/tcp, 33060/tcp   mysql_db

In [8]:
!docker volume ls

DRIVER    VOLUME NAME
local     data
local     db6ff3ad6be609baab1e865ac98e0e14eff66becb27bcd77fcc7a546e6f59533
local     docker-compose-files_db_data
local     minikube
local     mysql-project_db_data

now we have 2 container the container that runs the database and the container that runs the GUI

In [96]:
# click link below
print("http://localhost/.")

http://localhost/.

If you click the above link you will land on the GUI login screen.  For the `server` you can use the name of the db service which is `mysql` and then use `testuser` and `testpassword` to login. An empty `testdb` was created inside the container.

In [99]:
from sqlalchemy import create_engine, text, inspect

# Replace the placeholders with your configuration
db_user = "testuser"
db_password = "testpassword"
db_host = "localhost"
db_port = "3306"
db_name = "testdb"

# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [100]:
inspector = inspect(engine)
print(inspector.get_table_names())
print(inspector.get_schema_names())

[]
['information_schema', 'performance_schema', 'testdb']

create a table

In [101]:
stmt = text(
"""
CREATE TABLE IF NOT EXISTS school(
    id serial PRIMARY KEY,
    name TEXT NOT NULL,
    mascot_name TEXT
);

""")

with engine.connect() as con:
    con.execute(stmt)

inspector = inspect(engine)
inspector.get_table_names()

['school']

Insert two entries in the table

In [102]:
stmt = text(
"""
INSERT INTO school(name, mascot_name)
    VALUES
    ('Erasmus', 'Duck'),
    ('Kingster', 'Cat');
    
""")


with engine.connect() as con:
    with con.begin():
        con.execute(stmt)

In [103]:
import pandas as pd
stmt = text("SELECT * FROM school")
pd.read_sql(stmt, engine)

   id      name mascot_name
0   1   Erasmus        Duck
1   2  Kingster         Cat

In [104]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml down")
#print(out)
#print(err)

bring it up and check that we still have the data

In [105]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml up -d")
print(out)
print(err)

 Network docker-compose-files_default  Creating
 Network docker-compose-files_default  Created
 Container mysql_db  Creating
 Container mysql_db  Created
 Container phpmyadmin  Creating
 Container phpmyadmin  Created
 Container mysql_db  Starting
 Container mysql_db  Started
 Container phpmyadmin  Starting
 Container phpmyadmin  Started

wait for a bit for the mysql db to come online

In [108]:
# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
inspector = inspect(engine)
inspector.get_table_names()
stmt = text("SELECT * FROM school")
pd.read_sql(stmt, engine)

   id      name mascot_name
0   1   Erasmus        Duck
1   2  Kingster         Cat

In [109]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml down --volumes")
print(out)
print(err)

 Container phpmyadmin  Stopping
 Container phpmyadmin  Stopped
 Container phpmyadmin  Removing
 Container phpmyadmin  Removed
 Container mysql_db  Stopping
 Container mysql_db  Stopped
 Container mysql_db  Removing
 Container mysql_db  Removed
 Volume docker-compose-files_db_data  Removing
 Network docker-compose-files_default  Removing
 Volume docker-compose-files_db_data  Removed
 Network docker-compose-files_default  Removed

### Version 3 - other GUI -(not tried)

| Tool             | Containerized? | Complexity  | Best Use Case                        |
|------------------|----------------|-------------|--------------------------------------|
| phpMyAdmin       | Yes            | Easy        | General MySQL management             |
| Adminer          | Yes            | Very Easy   | Lightweight MySQL management         |
| HeidiSQL         | No             | Moderate    | Advanced local MySQL management      |
| DBeaver          | No             | Moderate    | Multi-database support               |
| MySQL Workbench  | No             | Advanced    | Official tool for MySQL management   |
| Metabase         | Yes            | Moderate    | BI and analytics for MySQL           |

### Version 4 - init script

You can initialize the databases and tables once the container starts up for the first time. 

**remark** - this makes sense if you have the file availabe. In cloud based of multi machine setup (k8s) that is not always the case. Than config mapping can be used.

The file below creates a database `school` with a table students and inserts one student into the table.

In [14]:
%%writefile docker-compose-files/init.sql
CREATE DATABASE IF NOT EXISTS my_db;

USE my_db;

CREATE TABLE IF NOT EXISTS person (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL
);

INSERT INTO person (name, age) VALUES ('Alice', 15), ('Bob', 18);


-- Grant all privileges on the database to the user
GRANT ALL PRIVILEGES ON my_db.* TO 'user'@'%';
FLUSH PRIVILEGES;

CREATE DATABASE school;
USE school;
CREATE TABLE students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    grade INT
);

INSERT INTO students (name, grade) VALUES ('Alice', 90), ('Bob', 85);

-- Grant all privileges on the database to the user
GRANT ALL PRIVILEGES ON school.* TO 'user'@'%';
FLUSH PRIVILEGES;

Writing docker-compose-files/init.sql

In [15]:
%%writefile docker-compose-files/docker-compose.yaml
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      #MYSQL_DATABASE: my_db
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - 80:80
    depends_on:
      - mysql
    environment:
      - PMA_ARBITRARY=1

volumes:
  db_data:

Overwriting docker-compose-files/docker-compose.yaml

In [16]:
(out, err, code) = run_command("docker-compose -f docker-compose-files/docker-compose.yaml up -d")
print(out)
print(err)

 Network docker-compose-files_default  Creating
 Network docker-compose-files_default  Created
 Volume "docker-compose-files_db_data"  Creating
 Volume "docker-compose-files_db_data"  Created
 Container mysql_container  Creating
 Container mysql_container  Created
 Container phpmyadmin  Creating
 Container phpmyadmin  Created
 Container mysql_container  Starting
 Container mysql_container  Started
 Container phpmyadmin  Starting
 Container phpmyadmin  Started

In [17]:
!docker ps

CONTAINER ID   IMAGE               COMMAND                  CREATED          STATUS          PORTS                               NAMES
95e7c1520ce8   phpmyadmin:latest   "/docker-entrypoint.…"   12 seconds ago   Up 11 seconds   0.0.0.0:80->80/tcp                  phpmyadmin
fa0362a050f6   mysql:8.0           "docker-entrypoint.s…"   12 seconds ago   Up 12 seconds   0.0.0.0:3306->3306/tcp, 33060/tcp   mysql_container

In [18]:
# click link below
print("http://localhost/.")

http://localhost/.

In [19]:
!docker volume ls

DRIVER    VOLUME NAME
local     c7c7b2a1bb5ee7bd8b33b3ba980fc72b5918f56a5c987b68c6ecd416200e86c6
local     data
local     db6ff3ad6be609baab1e865ac98e0e14eff66becb27bcd77fcc7a546e6f59533
local     docker-compose-files_db_data
local     minikube
local     mysql-project_db_data

In [21]:
!docker logs mysql_container

2024-11-20 16:06:49+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 8.0.40-1.el9 started.
2024-11-20 16:06:49+00:00 [Note] [Entrypoint]: Switching to dedicated user 'mysql'
2024-11-20 16:06:49+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 8.0.40-1.el9 started.
2024-11-20 16:06:49+00:00 [Note] [Entrypoint]: Initializing database files
2024-11-20T16:06:50.001762Z 0 [Warning] [MY-011068] [Server] The syntax '--skip-host-cache' is deprecated and will be removed in a future release. Please use SET GLOBAL host_cache_size=0 instead.
2024-11-20T16:06:50.001831Z 0 [System] [MY-013169] [Server] /usr/sbin/mysqld (mysqld 8.0.40) initializing of server in progress as process 80
2024-11-20T16:06:50.079216Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T16:06:50.595600Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T16:06:54.320863Z 6 [Warning] [MY-010453] [Server] root@localhost is created with an empty password ! Please consider switching off the --initialize-insecure option.
2024-11-20 16:06:57+00:00 [Note] [Entrypoint]: Database files initialized
2024-11-20 16:06:57+00:00 [Note] [Entrypoint]: Starting temporary server
2024-11-20T16:06:58.128321Z 0 [Warning] [MY-011068] [Server] The syntax '--skip-host-cache' is deprecated and will be removed in a future release. Please use SET GLOBAL host_cache_size=0 instead.
2024-11-20T16:06:58.129292Z 0 [System] [MY-010116] [Server] /usr/sbin/mysqld (mysqld 8.0.40) starting as process 124
2024-11-20T16:06:58.139650Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T16:06:58.357991Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T16:06:58.752879Z 0 [Warning] [MY-010068] [Server] CA certificate ca.pem is self signed.
2024-11-20T16:06:58.752934Z 0 [System] [MY-013602] [Server] Channel mysql_main configured to support TLS. Encrypted connections are now supported for this channel.
2024-11-20T16:06:58.759043Z 0 [Warning] [MY-011810] [Server] Insecure configuration for --pid-file: Location '/var/run/mysqld' in the path is accessible to all OS users. Consider choosing a different directory.
2024-11-20T16:06:58.781655Z 0 [System] [MY-010931] [Server] /usr/sbin/mysqld: ready for connections. Version: '8.0.40'  socket: '/var/run/mysqld/mysqld.sock'  port: 0  MySQL Community Server - GPL.
2024-11-20T16:06:58.782117Z 0 [System] [MY-011323] [Server] X Plugin ready for connections. Socket: /var/run/mysqld/mysqlx.sock
2024-11-20 16:06:58+00:00 [Note] [Entrypoint]: Temporary server started.
'/var/lib/mysql/mysql.sock' -> '/var/run/mysqld/mysqld.sock'
Warning: Unable to load '/usr/share/zoneinfo/iso3166.tab' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/leap-seconds.list' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/leapseconds' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/tzdata.zi' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/zone.tab' as time zone. Skipping it.
Warning: Unable to load '/usr/share/zoneinfo/zone1970.tab' as time zone. Skipping it.
2024-11-20 16:07:03+00:00 [Note] [Entrypoint]: Creating user user

2024-11-20 16:07:03+00:00 [Note] [Entrypoint]: /usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/init.sql


2024-11-20 16:07:03+00:00 [Note] [Entrypoint]: Stopping temporary server
2024-11-20T16:07:03.819234Z 12 [System] [MY-013172] [Server] Received SHUTDOWN from user root. Shutting down mysqld (Version: 8.0.40).
2024-11-20T16:07:05.287378Z 0 [System] [MY-010910] [Server] /usr/sbin/mysqld: Shutdown complete (mysqld 8.0.40)  MySQL Community Server - GPL.
2024-11-20 16:07:05+00:00 [Note] [Entrypoint]: Temporary server stopped

2024-11-20 16:07:05+00:00 [Note] [Entrypoint]: MySQL init process done. Ready for start up.

2024-11-20T16:07:06.012314Z 0 [Warning] [MY-011068] [Server] The syntax '--skip-host-cache' is deprecated and will be removed in a future release. Please use SET GLOBAL host_cache_size=0 instead.
2024-11-20T16:07:06.013223Z 0 [System] [MY-010116] [Server] /usr/sbin/mysqld (mysqld 8.0.40) starting as process 1
2024-11-20T16:07:06.019241Z 1 [System] [MY-013576] [InnoDB] InnoDB initialization has started.
2024-11-20T16:07:06.247939Z 1 [System] [MY-013577] [InnoDB] InnoDB initialization has ended.
2024-11-20T16:07:06.463435Z 0 [Warning] [MY-010068] [Server] CA certificate ca.pem is self signed.
2024-11-20T16:07:06.463507Z 0 [System] [MY-013602] [Server] Channel mysql_main configured to support TLS. Encrypted connections are now supported for this channel.
2024-11-20T16:07:06.471025Z 0 [Warning] [MY-011810] [Server] Insecure configuration for --pid-file: Location '/var/run/mysqld' in the path is accessible to all OS users. Consider choosing a different directory.
2024-11-20T16:07:06.494301Z 0 [System] [MY-011323] [Server] X Plugin ready for connections. Bind-address: '::' port: 33060, socket: /var/run/mysqld/mysqlx.sock
2024-11-20T16:07:06.494472Z 0 [System] [MY-010931] [Server] /usr/sbin/mysqld: ready for connections. Version: '8.0.40'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  MySQL Community Server - GPL.

In [22]:
from sqlalchemy import create_engine, text, inspect

# Replace the placeholders with your configuration
db_user = "user"
db_password = "user_password"
db_host = "localhost"
db_port = "3306"
db_name = "my_db"
# if you select the database school you get acces to the tables in school
# db_name = "school"

# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# root user can also login
#engine = create_engine(f"mysql+pymysql://root:root_password@localhost:3306/school")

inspector = inspect(engine)
print(inspector.get_schema_names())
print(f"The script select the '{db_name}' database")
print(inspector.get_table_names())

['information_schema', 'my_db', 'performance_schema', 'school']
The script select the 'my_db' database
['person']

Create a table `sport` in the database

In [23]:
stmt = text(
"""
CREATE TABLE IF NOT EXISTS sport(
    id serial PRIMARY KEY,
    name TEXT NOT NULL,
    mascot_name TEXT
);

""")

with engine.connect() as con:
    con.execute(stmt)

inspector = inspect(engine)
inspector.get_table_names()

['person', 'sport']

In [24]:
stmt = text(
"""
INSERT INTO sport(name, mascot_name)
    VALUES ('volleyball', 'Duck'),
    ('hockey', 'Cow');
""")


with engine.connect() as con:
    with con.begin():
        con.execute(stmt)

In [25]:
import pandas as pd
stmt = text("SELECT * FROM sport")
pd.read_sql(stmt, engine)

   id        name mascot_name
0   1  volleyball        Duck
1   2      hockey         Cow

in the docker compose file you can see that we save the database data in a persistent volume.

In [26]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml down")
print(out)
print(err)

 Container phpmyadmin  Stopping
 Container phpmyadmin  Stopped
 Container phpmyadmin  Removing
 Container phpmyadmin  Removed
 Container mysql_container  Stopping
 Container mysql_container  Stopped
 Container mysql_container  Removing
 Container mysql_container  Removed
 Network docker-compose-files_default  Removing
 Network docker-compose-files_default  Removed

In [27]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml up -d")
print(out)
print(err)

 Network docker-compose-files_default  Creating
 Network docker-compose-files_default  Created
 Container mysql_container  Creating
 Container mysql_container  Created
 Container phpmyadmin  Creating
 Container phpmyadmin  Created
 Container mysql_container  Starting
 Container mysql_container  Started
 Container phpmyadmin  Starting
 Container phpmyadmin  Started

In [28]:
# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# root user can also login
#engine = create_engine(f"mysql+pymysql://root:root_password@localhost:3306/school")

inspector = inspect(engine)
print(inspector.get_schema_names())
print(f"The script select the '{db_name}' database")
print(inspector.get_table_names())

['information_schema', 'my_db', 'performance_schema', 'school']
The script select the 'my_db' database
['person', 'sport']

In [29]:
stmt = text("SELECT * FROM sport")
pd.read_sql(stmt, engine)

   id        name mascot_name
0   1  volleyball        Duck
1   2      hockey         Cow

If you want to remove the volume and start next time with init.sql script you can delete the volume when bringing down the service

In [30]:
(out, err, code) = run_command("docker compose -f docker-compose-files/docker-compose.yaml down --volumes")
print(out)
print(err)

 Container phpmyadmin  Stopping
 Container phpmyadmin  Stopped
 Container phpmyadmin  Removing
 Container phpmyadmin  Removed
 Container mysql_container  Stopping
 Container mysql_container  Stopped
 Container mysql_container  Removing
 Container mysql_container  Removed
 Volume docker-compose-files_db_data  Removing
 Network docker-compose-files_default  Removing
 Volume docker-compose-files_db_data  Removed
 Network docker-compose-files_default  Removed